:root {
    --dark-color: #2d4d53;
    --light-color: #aebec4;
    --vibrant-color: #6daeeb;
    --fade-color: #eaf5ff;
    --medium-color: rgb(125, 138, 143);
    color: var(--dark-color);
    font-family: 'Karla', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

strong {
    color: var(--vibrant-color);
}

.hello {
    width: 600px;
    margin: 100px auto 0 auto;
    text-align: center;
}

.hello>h2 {
    color: var(--light-color);
    font-weight: 100;
    margin: 80px 0 50px 0;
}

button {
    background-color: white;
    border: 2px solid var(--vibrant-color);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: var(--vibrant-color);
    padding: 15px 20px;
    border-radius: 7px;
}

button a {
    color: var(--vibrant-color);
}

a {
    cursor: pointer;
    text-decoration: none;
}

.projects {
    display: grid;
    justify-content: center;
    margin-top: 100px;
    grid-template-columns: repeat(2, 450px);
    gap: 50px;
}

.projects img {
    background-color: var(--light-color);
    height: 300px;
    width: 450px;
    border-radius: 15px;
    object-fit: cover;
}

footer {
    color: var(--light-color);
    text-align: center;
    margin: 100px 0 50px 0;
}

@media (max-width: 1000px) {
    .projects {
        display: block;
        text-align: center;
    }
    .projects img {
        margin: 0 auto 50px auto;
    }
}

@media (max-width: 750px) {
    .hello {
        width: 80%;
    }
    .projects img {
        width: 70%;
    }
}